<body class="page home-style2">
    <div class="body-wrapper theme-clearfix">
      <app-main-menu></app-main-menu>
      <div class="listings-title">
        <div class="container">
          <div class="wrap-title">
            <h1>Home</h1>
            <div class="bread">
              <div class="breadcrumbs theme-clearfix">
                <div class="container">
                  <ul class="breadcrumb">
                    <li>
                      <a href="home_page_1.html">Home</a>
                      <span class="go-page"></span>
                    </li>
  
                    <li class="active">
                      <span>Home</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="contents" role="main" class="main-page  col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="post-6 page type-page status-publish hentry">
              <div class="entry-content">
  
                <div class="vc_row vc_row-fluid">
                  <div class="container float vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="vc_row vc_inner vc_row-fluid margin-bottom-30">
                          <div class="wrap-vertical vc_column_container vc_col-sm-2">
                            <app-side-menu></app-side-menu>
                          </div>
                          
                         <router-outlet></router-outlet>
  
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
  