<footer id="footer" class="footer default theme-clearfix">
  <!-- Content footer -->
  <div class="container">
    <div class="vc_row vc_row-fluid footer-style2">
      <div class="vc_column_container vc_col-sm-6 vc_col-lg-2 vc_col-md-2 vc_col-xs-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">Support</h2>
                <ul id="menu-support" class="menu">
                  <li class="menu-product-support"><a class="item-link" href="#"><span class="menu-title">Product
                        Support</span></a></li>
                  <li class="menu-pc-setup-support-services"><a class="item-link" href="#"><span class="menu-title">PC
                        Setup &amp; Support Services</span></a></li>
                  <li class="menu-extended-service-plans"><a class="item-link" href="#"><span
                        class="menu-title">Extended Service Plans</span></a></li>
                  <li class="menu-community"><a class="item-link" href="#"><span class="menu-title">Community</span></a>
                  </li>
                  <li class="menu-product-manuals"><a class="item-link" href="#"><span class="menu-title">Product
                        Manuals</span></a></li>
                  <li class="menu-product-registration"><a class="item-link" href="#"><span class="menu-title">Product
                        Registration</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vc_column_container vc_col-sm-6 vc_col-lg-2 vc_col-md-2 vc_col-xs-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">Your Links</h2>
                <ul id="menu-your-links-2" class="menu">
                  <li class="menu-my-account"><a class="item-link" href="my_account.html"><span class="menu-title">My
                        Account</span></a></li>
                  <li class="menu-order-tracking"><a class="item-link" href="#"><span class="menu-title">Order
                        Tracking</span></a></li>
                  <li class="menu-watch-list"><a class="item-link" href="#"><span class="menu-title">Watch
                        List</span></a></li>
                  <li class="menu-customer-service"><a class="item-link" href="#"><span class="menu-title">Customer
                        Service</span></a></li>
                  <li class="menu-returns-exchanges"><a class="item-link" href="#"><span class="menu-title">Returns /
                        Exchanges</span></a></li>
                  <li class="menu-faqs"><a class="item-link" href="#"><span class="menu-title">FAQs</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class=" wpb_content_element ">
              <div class="wpb_wrapper">
                <div class="infomation">
                  <h2>CONTACT INFO</h2>

                  <div class="info-support">
                    <ul>
                      <li>No 1123, Marmora Road, Glasgow, D04 89GR.</li>
                      <li>(801) 2345 - 6788 / (801) 2345 - 6789</li>
                      <li>support@etrostore.com</li>
                    </ul>
                  </div>

                  <div class="shop-social">
                    <ul>
                      <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="https://www.pinterest.com"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <div class="wrap-newletters">
                  <h3>Newsletter</h3>

                  <div class="info-newsletter">

                    <p>Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now
                      !</p>

                    <div class="mc4wp-form">
                      <div class="newsletter-content">
                        <input type="email" class="newsletter-email" name="EMAIL" placeholder="Your email" required="">
                        <input class="newsletter-submit" type="submit" value="Subscribe">
                      </div>
                    </div>

                    <div class="store">
                      <a href="#">
                        <img title="store" src="images/1903/pay2.png" alt="store">
                      </a>

                      <a href="#">
                        <img title="store" src="images/1903/pay3.png" alt="store">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vc_row vc_row-fluid footer-style2">
      <div class="vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <div class="des">
                  <p>
                    Online Shopping in UAE, Dubai &amp; Abu Dhabi.AWOK.com is offering the lowest prices in UAE to offer
                    the best online shopping experience in UAE.
                  </p>

                  <p>
                    About Us: With the idea of creating the ideal destination for online shopping in UAE, AWOK.com was
                    created back in 2013 with catalog of all electronic gadgets. It branched out to one-stop shop for
                    products of all categories. Awok.com makes it easy for you to shop easily from the comfort of your
                    home. Shopping online at Awok.com is simple, fast, secure and easy.<br>
                    Products: From mobiles to tablets, laptops to electronics, jewellery to cosmetics, watches to
                    sunglasses, television to gaming consoles we pride ourselves on selling all the products that are
                    hip, trend and are valuable to our customers at Awok.com. We sell plethora of items from the brands
                    you love to shop from including but not limited to Adidas, Apple, CK (Calvin Klein), HP
                    (Hewlett-Packard), Microsoft and more.<br>
                    Offers: Awok.com is one of the preferred stores for online shopping in UAE and for all the right
                    reasons such as convenience, cost-effective, product quality and personalized service. We have wide
                    range of offers available which provides you with an opportunity to buy always at low prices. We
                    provided thousands of deals every day along with bundle of products to provide you even more
                    savings. Payment &amp; Shipping: We at Awok.com make best effort for your shopping experience to be
                    as hassle free and smooth as possible. We provide you multiple payment methods including cash on
                    delivery and online payments. We also run our own logistics to make sure your purchased item(s)
                    reaches you as quick as possible in the best possible condition.ALL OFFERS IN UAE:Special
                    offers/Daily Deals/Bundle offers
                  </p>
                </div>
                <div class="des2">
                  MOBILES &amp; ACCESSORIES IN UAE:Mobile Phones/Mobiles Accessories/Mobile Cases &amp; Covers/Mobile
                  Power Banks/Mobile Memory Cards<br>
                  TABLETS &amp; ACCESSORIES IN UAE:Tablets/Tablet Accessories/Tablet Cases &amp; Covers/Tablet Power
                  Banks/Tablet Memory Cards<br>
                  HOME &amp; KITCHEN APPLIANCES IN UAE:Blenders/Food Processors/Irons/Kettle/Kitchen Ware/Meat
                  Grinders/Mincers/Microwave Ovens/Other Home Appliances/Cooker
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright style1">
    <div class="container">
      <!-- Copyright text -->
      <div class="copyright-text pull-left">
        <p>Etro Store - Premium Multipurpose HTML5/CSS3 Theme Designed by <a
            href="http://www.smartaddons.com">SmartAddons.Com</a>.</p>
      </div>

      <div class="sidebar-copyright pull-right">
        <div class="widget-1 widget-first widget text-4 widget_text">
          <div class="widget-inner">
            <div class="textwidget">
              <div class="payment">
                <a href="#">
                  <img src="images/1903/paypal.png" alt="payment" title="payment">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
