{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>Bestquote</title>
</head>
<body>
<div style="text-align: center; padding-top: 35vh">
  <img src="{% static 'logo.png' %}" alt="logo">
  <h4 style="font-family: 'Helvetica Neue', Helvetica, sans-serif; margin-top: 5px; padding-top: 0; font-weight: 300">
    Welcome to <strong>Bestquote</strong> API
  </h4>
</div>
</body>
</html>