<div class="wrap-slider vc_column_container vc_col-sm-10">
  <div class="vc_column-inner homepage2_custom">
    <div class="wpb_wrapper">
      <!-- OWL SLIDER -->
      <div class="wpb_revslider_element wpb_content_element no-margin">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_revslider_element wpb_content_element">
              <div id="main-slider" class="fullwidthbanner-container"
                style="position:relative; width:100%; height:auto; margin-top:0px; margin-bottom:0px">
                <div class="module slideshow no-margin owl2-carousel owl2-theme owl2-loaded owl2-responsive-1000">



                  <div class="owl2-stage-outer">
                    <div class="owl2-stage"
                      style="transform: translate3d(-3780px, 0px, 0px); transition: all 0.25s ease 0s; width: 6615px;">
                      <div class="owl2-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider2"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider3"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider1"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider2"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item active" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider3"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider1"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                      <div class="owl2-item cloned" style="width: 945px; margin-right: 0px;">
                        <div class="item">
                          <a href="simple_product.html"><img src="http://via.placeholder.com/945x568/png" alt="slider2"
                              class="img-responsive" height="559"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl2-controls">
                    <div class="owl2-nav">
                      <div class="owl-custom-prev" style="display: none;"></div>
                      <div class="owl-custom-next" style="display: none;"></div>
                    </div>
                    <div class="owl2-dots">
                      <div class="owl2-dot"><span></span></div>
                      <div class="owl2-dot"><span></span></div>
                      <div class="owl2-dot active"><span></span></div>
                    </div>
                  </div>
                </div>
                <div class="loadeding"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- OWL LIGHT SLIDER -->
    </div>
  </div>
</div>
