.rtl .woocommerce-error,
.rtl .woocommerce-info,
.rtl .woocommerce-message {
  padding: 1em 3.5em 1em 2em !important;
}
.rtl .woocommerce-error:before,
.rtl .woocommerce-info:before,
.rtl .woocommerce-message:before {
  left: auto;
  right: 1.5em;
}
.rtl .wpb_tabs .wpb_tabs_nav li {
  float: right;
  margin: 0 0 0 1px;
}
.rtl .col-lg-1,
.rtl .col-lg-2,
.rtl .col-lg-3,
.rtl .col-lg-4,
.rtl .col-lg-5,
.rtl .col-lg-6,
.rtl .col-lg-7,
.rtl .col-lg-8,
.rtl .col-lg-9,
.rtl .col-lg-10,
.rtl .col-lg-11 {
  float: right;
}
.rtl .vc_col-sm-1,
.rtl .vc_col-sm-2,
.rtl .vc_col-sm-3,
.rtl .vc_col-sm-4,
.rtl .vc_col-sm-5,
.rtl .vc_col-sm-6,
.rtl .vc_col-sm-7,
.rtl .vc_col-sm-8,
.rtl .vc_col-sm-9,
.rtl .vc_col-sm-10,
.rtl .vc_col-sm-11 {
  float: right;
}
.rtl .pull-left {
  float: right;
}
.rtl .pull-right {
  float: left;
}
.rtl .column-1,
.rtl .column-2,
.rtl .column-3,
.rtl .column-4,
.rtl .column-5,
.rtl .column-6,
.rtl .column-7,
.rtl .column-8,
.rtl .column-9,
.rtl .column-10 {
  float: right;
}
.rtl .fa-caret-right:before {
  content: "\f0d9";
}
.rtl .fa-angle-right:before {
  content: "\f104";
}
.rtl .fa-angle-left:before {
  content: "\f105";
}
.rtl .woocommerce .item-bottom,
.rtl .item-bottom {
  left: auto;
  margin-left: 0;
  right: 50%;
  margin-right: -69px;
}
.rtl .woocommerce .item-bottom .button,
.rtl .item-bottom .button {
  float: right;
  margin: 0 0 0 2px;
}
.rtl .woocommerce .item-bottom .yith-wcwl-add-to-wishlist,
.rtl .item-bottom .yith-wcwl-add-to-wishlist {
  margin: 0 0 0 2px;
  float: right;
}
.rtl .woocommerce .item-bottom .fancybox,
.rtl .item-bottom .fancybox {
  float: right;
}
.rtl.woocommerce div.product form.cart .button {
  float: right;
}
.rtl.woocommerce div.product form.cart div.quantity {
  float: right;
  margin: 0 0 0 20px;
}
.rtl.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.rtl.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  text-align: right !important;
}
.rtl.woocommerce form table.shop_table.shop_table_responsive tbody tr td,
.rtl.woocommerce-page form table.shop_table.shop_table_responsive tbody tr td {
  text-align: right !important;
}
.rtl.woocommerce .widget_price_filter .price_slider_amount #min_price,
.rtl.woocommerce .widget_price_filter .price_slider_amount #max_price,
.rtl .widget_price_filter .price_slider_amount #min_price,
.rtl .widget_price_filter .price_slider_amount #max_price {
  float: right;
  margin-left: 2px;
  margin-right: 0;
}
.rtl.woocommerce .widget_price_filter .price_slider_amount #max_price,
.rtl .widget_price_filter .price_slider_amount #max_price {
  margin-right: 0;
  margin-left: 8px;
}
.rtl.woocommerce .widget_price_filter .price_slider_amount .button,
.rtl .widget_price_filter .price_slider_amount .button {
  float: right;
}
.rtl .item-content .product-countdown .countdown-row .countdown-section .countdown-amount:after {
  left: -4px;
  right: auto;
}
.rtl #lang_sel {
  padding: 11px 0 11px 13px;
}
.rtl #lang_sel a.lang_sel_sel:after {
  margin-left: 0;
  margin-right: 4px;
}
.rtl #lang_sel img.iclflag {
  margin-right: 0;
  margin-left: 5px;
}
.rtl #lang_sel > ul.nav > li > a {
  border-left: 1px solid #a8a8a8;
  border-right: 0;
  padding-left: 14px;
  padding-right: 0;
}
.rtl #lang_sel > ul.nav > li > ul {
  left: auto;
  right: 0;
}
.rtl #lang_sel > ul.nav > li > ul li a .iclflag {
  margin-right: 0;
  margin-left: 13px;
}
.rtl #lang_sel > ul.nav > li > ul:before {
  right: auto;
  left: 0;
}
.rtl .currency_w > li > a:after {
  margin-left: 0;
  margin-right: 10px;
}
.rtl .currency_w > li .currency_switcher {
  left: auto;
  right: 0;
}
.rtl .header .header-top .top1 .call-us {
  padding: 9px 0 9px 13px;
}
.rtl .header .header-top .top2 .widget.widget_nav_menu .widget-inner ul li {
  border-right: 0;
  border-left: 1px solid #a8a8a8;
}
.rtl .header .header-top .top2 .widget.widget_nav_menu .widget-inner ul li:last-child {
  border-left: 0;
}
.rtl .header .header-top .top2 .widget.widget_nav_menu .widget-inner ul li a:hover {
  color: #ffaa00;
}
.rtl .header .header-top .top2 .widget.widget_nav_menu .widget-inner ul li:last-child a {
  padding-left: 0;
  padding-right: 13px;
}
.rtl .header .header-top .sidebar-account .account-title {
  border-right: 0;
  border-left: 1px solid #a8a8a8;
}
.rtl .header .header-top .sidebar-account .top-login ul li a:before {
  margin-right: 0;
  margin-left: 14px;
}
.rtl .header .header-mid .top-form.top-search .topsearch-entry input {
  margin: 0 0 0 1px;
  float: right;
}
.rtl .header .header-mid .top-form.top-search .topsearch-entry .cat-wrapper {
  float: right;
}
.rtl .header .header-mid .widget.widget_nav_menu .widget-inner ul li {
  float: right;
}
.rtl .header .header-mid .widget.widget_nav_menu .widget-inner ul li:last-child {
  padding-left: 0px;
}
.rtl .wrap-vertical .wrap-title .mega-left-title:before {
  margin: 0 0 0 10px;
}
.rtl .wrap-transport .row .item {
  border-right: 0;
  border-left: 1px solid #efefef;
}
.rtl .wrap-transport .row .item .icon {
  float: right;
  margin: 0 0 0 15px;
}
.rtl .wrap-transport .row .item .content {
  text-align: right;
}
.rtl .wrap-transport .row .item:last-child {
  border-left: 0;
}
.rtl .wrap-transport-style2 .row .item,
.rtl .wrap-transport-style3 .row .item {
  border: none;
}
.rtl .box-title h3:before {
  right: auto;
  left: -9px;
  border-left: 0;
}
.rtl .box-title a {
  margin: 0 21px 0 0;
}
.rtl .box-title a:after {
  margin: 0 8px 0 0;
}
.rtl .countdown-slider .resp-slider-container .banner-content {
  float: right;
}
.rtl .countdown-slider .resp-slider-container .slider .slick-list .slick-track .item-countdown .item-wrap {
  border-right: 0;
  border-left: 1px solid #eaeaea;
}
.rtl .countdown-slider .resp-slider-container .slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-row .countdown-section .countdown-amount:after {
  left: -4px;
  right: auto;
}
.rtl .sw-child-cat .child-top .childcat-content ul {
  margin: 0 11px 0 0;
  float: right;
}
.rtl .sw-child-cat .child-top .childcat-content ul li a {
  border-right: 0;
  border-left: 1px solid #a6a6a6;
}
.rtl .sw-child-cat .child-top .childcat-content ul li:last-child a {
  border-left: 0;
}
.rtl .sw-child-cat .child-top .view-all {
  float: left;
  margin: 0 0 0 18px;
}
.rtl .sw-child-cat .child-top .view-all a i {
  margin: 0 8px 0 0;
}
.rtl .sw-child-cat .childcat-slider-content {
  float: right;
}
.rtl .sw-child-cat .childcat-slider-content .resp-slider-container .slider .slick-list .slick-track .item-wrap {
  border-right: 0;
  border-left: 1px solid #eaeaea;
}
.rtl .sw-child-cat .childcat-slider-content .resp-slider-container .slider .slick-list .slick-track .item-wrap .item-detail .item-content .sale-off {
  right: auto;
  left: 15px;
}
.rtl .sw-child-cat .childcat-slider-content .resp-slider-container .slider .slick-list .slick-track .item-wrap .item-detail .item-content .product-countdown .countdown-row .countdown-section .countdown-amount:after {
  right: auto;
  left: -4px;
}
.rtl .sw-child-cat .best-seller-product .wrap-content .item .item-inner .item-img {
  float: left;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner {
  float: right;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner .image-client a {
  display: block;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner .client-say-info {
  padding: 24px 58px 51px 30px;
  margin-left: 0;
  margin-right: 35px;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner .client-say-info .client-comment:after {
  content: '\f10d';
  right: auto;
  left: -15px;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner .client-say-info .name-client h2 {
  float: right;
  border-right: 0;
  border-left: 1px solid #b3b3b3;
  padding: 0 0 0 10px;
}
.rtl .testimonial-slider .carousel-inner .item .item-inner .client-say-info .name-client p {
  padding: 0 10px 0 0;
  float: right;
}
.rtl .products-nav .view-mode-wrap {
  margin-right: 0;
  margin-left: 180px;
}
.rtl .products-nav .view-mode-wrap .view-mode a {
  float: right;
}
.rtl .products-nav .catalog-ordering {
  float: right;
}
.rtl .products-nav .catalog-ordering .orderby-order-container {
  float: right;
}
.rtl .products-nav .catalog-ordering .orderby-order-container span.sort {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .products-nav .catalog-ordering .orderby-order-container .show-product {
  margin-right: 0;
  margin-left: 10px;
  float: right;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul {
  float: right;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul li span.current-li:before {
  left: 20px;
  right: auto;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul li a {
  padding: 0 0 0 15px;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul li ul li a {
  padding: 0 15px;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul.order {
  margin-right: 0;
  margin-left: 100px;
}
.rtl .products-nav .catalog-ordering .orderby-order-container ul.order li a {
  border-left: 1px solid #d7d7d7;
  border-right: 0;
  padding: 0 15px;
}
.rtl .products-nav .catalog-ordering ul.sort-count li span.current-li {
  padding: 0 15px 0 29px;
}
.rtl .products-nav .catalog-ordering ul.sort-count li span.current-li:before {
  right: auto;
  left: 12px;
  border-left: 0;
  border-right: 1px solid #d7d7d7;
  padding: 0 9px 0 0;
}
.rtl .products-nav .woocommerce-pagination {
  float: left;
}
.rtl .products-nav .woocommerce-pagination .products-page {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.rtl .products-nav .woocommerce-pagination .note {
  float: right;
  padding: 8px 0 8px 10px;
}
.rtl .products-nav .woocommerce-pagination .page-numbers li {
  float: right;
}
.rtl .products-nav .woocommerce-pagination .page-numbers li .next.page-numbers:before {
  content: '\f0d9';
}
.rtl .products-nav .woocommerce-pagination .page-numbers li .prev.page-numbers:before {
  content: '\f0da';
}
.rtl .products-loop.grid li .products-entry .item-detail .item-img .sale-off {
  right: auto;
  left: 15px;
}
.rtl .products-loop.list li .products-entry .item-detail .item-img {
  float: right;
  margin-right: 0;
  margin-left: 29px;
}
.rtl .products-loop.list li .products-entry .item-detail .item-img .sale-off {
  right: auto;
  left: 15px;
}
.rtl .products-loop.list li .products-entry .item-detail .item-content .item-bottom .add_to_cart_button:before,
.rtl .products-loop.list li .products-entry .item-detail .item-content .item-bottom .product_type_external:before,
.rtl .products-loop.list li .products-entry .item-detail .item-content .item-bottom .product_type_grouped:before {
  margin-left: 8px;
  margin-right: 0;
}
.rtl .single-product .product_detail .content_product_detail .product-info .in-stock {
  margin-right: 0;
  margin-left: 24px;
}
.rtl .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td {
  float: right;
}
.rtl .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.label label {
  padding: 5px 0 4px 26px;
}
.rtl .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value select {
  padding: 9.5px 10px 9.5px 50px;
}
.rtl .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value .reset_variations {
  margin-left: 0;
  margin-right: 12px;
}
.rtl .single-product .product_detail .content_product_detail .cart .single_add_to_cart_button {
  margin: 0 0 0 2px;
}
.rtl .single-product .product_detail .content_product_detail .cart .single_add_to_cart_button:before {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .single-product .social-share .title-share {
  float: right;
  margin-right: 0;
  margin-left: 22px;
}
.rtl .single-product .social-share a {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .single-product .tabs .tabbable .nav-tabs li {
  float: right;
}
.rtl .single-product .tabs .tabbable .nav-tabs li a {
  border-right: 0;
  border-left: 1px solid #e8e8e8;
}
.rtl .sw_related_upsell_widget .widget-inner .sw-woo-container-slider .resp-slider-container .slick-slider .slick-list .slick-track .item .item-wrap .item-detail .item-img .sale-off {
  right: auto;
  left: 15px;
}
.rtl .sw_related_upsell_widget .res-button {
  top: -6px;
}
.rtl .sw_related_upsell_widget .res-button.slick-next {
  right: auto;
  left: 29px;
}
.rtl .sw_related_upsell_widget .res-button.slick-next:before {
  content: '\f054';
}
.rtl .sw_related_upsell_widget .res-button.slick-prev {
  right: auto;
  left: 0;
}
.rtl .sw_related_upsell_widget .res-button.slick-prev:before {
  content: '\f053';
}
.rtl .category-contents .blog-content-grid .entry .entry-content .content-top .entry-meta .meta-entry {
  float: right;
}
.rtl .category-contents .blog-content-grid .entry .entry-content .content-top .entry-meta .meta-entry i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .category-contents .blog-content-grid .entry .entry-content .content-top .entry-meta .entry-date {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-grid .entry .entry-content .content-top .entry-meta .entry-comment {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-grid .entry .entry-content .readmore a i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .category-contents .blog-content-list .entry .entry-thumb {
  float: right;
  margin: 0 0 0 30px;
}
.rtl .category-contents .blog-content-list .entry .entry-content .content-top .content-top-in .entry-meta .meta-entry {
  float: right;
}
.rtl .category-contents .blog-content-list .entry .entry-content .content-top .content-top-in .entry-meta .meta-entry i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .category-contents .blog-content-list .entry .entry-content .content-top .content-top-in .entry-meta .entry-date {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-list .entry .entry-content .content-top .content-top-in .entry-meta .entry-comment {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-list .entry .entry-content .readmore a i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .category-contents .blog-content-default .entry .entry-content .content-top .content-top-in .entry-meta .meta-entry {
  float: right;
}
.rtl .category-contents .blog-content-default .entry .entry-content .content-top .content-top-in .entry-meta .meta-entry i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .category-contents .blog-content-default .entry .entry-content .content-top .content-top-in .entry-meta .entry-date {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-default .entry .entry-content .content-top .content-top-in .entry-meta .entry-comment {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .category-contents .blog-content-default .entry .entry-content .readmore a i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .single .entry-wrap .entry-content .content-single-top .entry-meta .meta-entry {
  float: right;
}
.rtl .single .entry-wrap .entry-content .content-single-top .entry-meta .meta-entry i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .single .entry-wrap .entry-content .content-single-top .entry-meta .entry-date {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .single .entry-wrap .entry-content .content-single-top .entry-meta .entry-comment {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .single .entry-wrap .entry-content .single-content-bottom .single-tag span {
  margin-right: 0;
  margin-left: 10px;
}
.rtl .single .entry-wrap .entry-content .single-content-bottom .social-share {
  float: left;
}
.rtl .single .entry-wrap .entry-content .single-content-bottom .social-share .title-share {
  float: right;
  margin-right: 0;
  margin-left: 22px;
}
.rtl .single .entry-wrap .entry-content .single-content-bottom .social-share a {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .single .entry-wrap .entry-content .single-content-bottom .social-share a:last-child {
  margin-right: 0;
  margin-left: 0;
}
.rtl .single #authorDetails .avatar {
  float: right;
  margin: 0 0 0 19px;
}
.rtl .single .single-post-relate .item-relate-content .content-top .entry-meta .meta-entry {
  float: right;
}
.rtl .single .single-post-relate .item-relate-content .content-top .entry-meta .meta-entry i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl .single .single-post-relate .item-relate-content .content-top .entry-meta .entry-date {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .single .single-post-relate .item-relate-content .content-top .entry-meta .entry-comment {
  margin-right: 0;
  margin-left: 23px;
}
.rtl .single .single-post-relate .item-relate-content a.read-more i {
  margin-right: 0;
  margin-left: 8px;
}
.rtl #comments .commentlist .comment .author,
.rtl #comments .children .comment .author {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.rtl #comments ul.children {
  margin-left: 0;
  margin-right: 90px;
}
.rtl .blog-search-content .entry .entry-thumb {
  margin-right: 0;
  margin-left: 30px;
}
.rtl .blog-search-content .entry .entry-content .bl_read_more {
  text-align: left;
}
.rtl .sw-brand-container-slider .res-button.slick-next {
  right: auto;
  left: 0;
}
.rtl .sw-brand-container-slider .res-button.slick-prev {
  right: 0;
  left: auto;
}
.rtl .contact-bonus .wpcf7 .wpcf7-form div .wpcf7-form-control-wrap {
  text-align: right;
}
.rtl .contact-bonus .wpcf7 .wpcf7-form div .wpcf7-form-control-wrap .wpcf7-form-control {
  text-align: right;
}
.rtl .contact-bonus .wpcf7 .wpcf7-form .wpcf7-response-output {
  clear: both;
  text-align: right;
}
.rtl .footer-style1 .footer-top {
  padding: 18px 18px 18px 15px;
}
.rtl .footer-style1 .infomation .store a {
  padding-right: 0;
  padding-left: 6px;
}
.rtl .footer-style1 .wrap-cus .widget_nav_menu ul li {
  float: right;
}
.rtl .footer-style1 .wrap-cus .widget_nav_menu ul li a {
  border-right: 0;
  border-left: 1px solid #646464;
}
.rtl .footer-style1 .wrap-cus .widget_nav_menu ul li:last-child a {
  border: none;
}
.rtl .wrap-newletter h3 {
  float: right;
  margin: 0 0 0 60px;
}
.rtl .wrap-newletter .mc4wp-form {
  float: right;
}
.rtl .shop-social ul {
  float: left;
}
.rtl .shop-social ul li {
  float: right;
  margin: 0 0 0 10px;
}
.rtl .shop-social ul li:last-child {
  margin: 0 0 0 0;
}
.rtl .has-side-bar {
	float: left !important;
}