{% extends 'emails/base.html' %}

{% block title %}
  <h3 style="color: #13d1cf;">Join BestQuote</h3>
{% endblock %}

{% block page_title %}
Join BestQuote.
{% endblock %}


{% block content %}
  <p>Hi {{ employee.first_name }},</p>

  <p>
    You've been invited to join {{ employee.branch.company.name }}'s Bestquote account. <br><br>
    Click on the button below to join {{ employee.branch.company.name }}'s BestQuote account. <br><br><br>
  </p>
  <p style="text-align: center">
    <a href="{{ activation_url }}" class="button">Join {{ employee.branch.company.name }} </a>
  </p>
  <br><br>
  <p>
    Regards, <br>
    The BestQuote Team
  </p>

{% endblock content %}

{% block footer %}
  <p>
    This email was sent to {{ user.email }}, which was used to register for an account at <a href="https://www.mybestquote.com">https://www.mybestquote.com</a>.
    It is deemed necessary communication and is not part of any newsletter or promotional offer. <br><br>
  </p>
{% endblock %}
