{% extends 'emails/base.html' %}

{% block title %}
  <h3 style="color: #13d1cf;">Password Reset</h3>
{% endblock %}

{% block page_title %}
Password Reset
{% endblock %}


{% block content %}
  <p>Hi {{ user.first_name }},</p>

  <p>
    Click on the button below to reset your BestQuote password. <br><br><br>
  </p>
  <p style="text-align: center">
    <a href="{{ password_reset_url }}" class="button">Reset Password</a>
  </p>
  <br><br>
  <p>
    Regards, <br>
    The BestQuote Team
  </p>

{% endblock content %}

{% block footer %}
  <p>
    This email was sent to {{ user.email }}, which was used to register for an account at <a href="http://www.mybestquote.com">http://www.mybestquote.com</a>.
    It is deemed necessary communication and is not part of any newsletter or promotional offer. <br><br>
  </p>
{% endblock %}
