<div class="vc_row vc_row-fluid margin-bottom-60">
  <div class="banner-none vc_column_container vc_col-sm-4">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_single_image wpb_content_element vc_align_center margin-bottom-30">
          <figure class="wpb_wrapper vc_figure">
            <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey">
              <img class="vc_single_image-img " src="http://via.placeholder.com/370x235/png" width="370" height="235"
                alt="banner2-1" title="banner2-1" />
            </a>
          </figure>
        </div>

        <div class="wpb_single_image wpb_content_element vc_align_center">
          <figure class="wpb_wrapper vc_figure">
            <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey">
              <img class="vc_single_image-img " src="http://via.placeholder.com/370x235/png" width="370" height="235"
                alt="banner2-2" title="banner2-2" />
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="vc_column_container vc_col-sm-4">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_single_image wpb_content_element vc_align_center">
          <figure class="wpb_wrapper vc_figure">
            <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey">
              <img class="vc_single_image-img " src="http://via.placeholder.com/370x500/png" width="370" height="500"
                alt="banner2-3" title="banner2-3" />
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-none vc_column_container vc_col-sm-4">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_single_image wpb_content_element vc_align_center margin-bottom-30">
          <figure class="wpb_wrapper vc_figure">
            <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey">
              <img class="vc_single_image-img " src="http://via.placeholder.com/370x235/png" width="370" height="235"
                alt="banner2-4" title="banner2-4" />
            </a>
          </figure>
        </div>

        <div class="wpb_single_image wpb_content_element vc_align_center">
          <figure class="wpb_wrapper vc_figure">
            <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey">
              <img class="vc_single_image-img " src="http://via.placeholder.com/370x235/png" width="370" height="235"
                alt="banner2-5" title="banner2-5" />
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
