<div class="vc_column-inner homepage2_custom2">
  <div class="wpb_wrapper">
    <div class="vc_wp_custommenu wpb_content_element wrap-title">
      <div class="mega-left-title">
        <strong>Categories</strong>
      </div>

      <div class="wrapper_vertical_menu vertical_megamenu">
        <div class="resmenu-container">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#ResMenuvertical_menu">
            <span class="sr-only">Categories</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div id="ResMenuvertical_menu" class="collapse menu-responsive-wrapper">
            <ul id="menu-vertical-menu" class="etrostore_resmenu">
              <li class="menu-computers-laptops">
                <a class="item-link" href="simple_product.html">Drummer</a>
              </li>

              <!-- <li class="fix-menu res-dropdown menu-smartphones-tablet">
                <a class="item-link dropdown-toggle" href="simple_product.html"></a>
                <span class="show-dropdown"></span>

                <ul class="dropdown-resmenu">
                  <li class="res-dropdown menu-electronics">
                    <a class="item-link dropdown-toggle" href="#">Electronics</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-laptop-desktop-accessories"><a href="#">Laptop &amp; Desktop Accessories</a>
                      </li>
                      <li class="menu-storage-external-drives"><a href="#">Storage &amp; External Drives</a></li>
                      <li class="menu-networking-wireless"><a href="#">Networking &amp; Wireless</a></li>
                      <li class="menu-motherboards-cpus-psus"><a href="#">Motherboards, CPUs &amp; PSUs</a></li>
                      <li class="menu-webcams"><a href="#">Webcams</a></li>
                    </ul>
                  </li>

                  <li class="res-dropdown menu-smartphone">
                    <a class="item-link dropdown-toggle" href="#">Smartphone</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-mobile-phones"><a href="#">Mobile Phones</a></li>
                      <li class="menu-smart-watches-accessories"><a href="#">Smart Watches &amp; Accessories</a></li>
                      <li class="menu-mobile-accessories"><a href="#">Mobile Accessories</a></li>
                      <li class="menu-cases-covers"><a href="#">Cases &amp; Covers</a></li>
                      <li class="menu-power-banks"><a href="#">Power Banks</a></li>
                    </ul>
                  </li>

                  <li class="res-dropdown menu-tablets">
                    <a class="item-link dropdown-toggle" href="#">Tablets</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-tablet-accessories"><a href="#">Tablet Accessories</a></li>
                      <li class="menu-cases-covers"><a href="#">Cases &amp; Covers</a></li>
                      <li class="menu-power-banks"><a href="#">Power Banks</a></li>
                      <li class="menu-memory-cards"><a href="#">Memory Cards</a></li>
                    </ul>
                  </li>

                  <li class="res-dropdown menu-computer">
                    <a class="item-link dropdown-toggle" href="#">Computer</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-macbooks-imacs"><a href="#">Macbooks &amp; iMacs</a></li>
                      <li class="menu-computers-desktops"><a href="#">Computers &amp; Desktops</a></li>
                      <li class="menu-printers-scanners-faxs"><a href="#">Printers, Scanners, &amp; Faxs</a></li>
                      <li class="menu-laptop-desktop-accessories"><a href="#">Laptop &amp; Desktop Accessories</a>
                      </li>
                      <li class="menu-storage-external-drives"><a href="#">Storage &amp; External Drives</a></li>
                    </ul>
                  </li>

                  <li class="fix-position res-dropdown menu-image">
                    <a class="item-link dropdown-toggle" href="#">Image</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-image-1"><a href="#">Image 1</a></li>
                      <li class="menu-image-2"><a href="#">Image 2</a></li>
                      <li class="menu-image-3"><a href="#">Image 3</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->

              <li class="menu-cameras-camcorders">
                <a class="item-link" href="simple_product.html">Keyboardist</a>
              </li>

              <!-- <li class="res-dropdown menu-electronic-component">
                <a class="item-link dropdown-toggle" href="simple_product.html">Electronic Component</a>
                <span class="show-dropdown"></span>

                <ul class="dropdown-resmenu">
                  <li class="res-dropdown menu-electronics">
                    <a class="item-link dropdown-toggle" href="#">Electronics</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-leds"><a href="#">Leds</a></li>
                      <li class="menu-laptop-desktop-accessories"><a href="#">Laptop &amp; Desktop Accessories</a>
                      </li>
                      <li class="menu-storage-external-drives"><a href="#">Storage &amp; External Drives</a></li>
                      <li class="menu-networking-wireless"><a href="#">Networking &amp; Wireless</a></li>
                      <li class="menu-motherboards-cpus-psus"><a href="#">Motherboards, CPUs &amp; PSUs</a></li>
                      <li class="menu-webcams"><a href="#">Webcams</a></li>
                      <li class="menu-gaming-mice"><a href="#">Gaming Mice</a></li>
                    </ul>
                  </li>

                  <li class="res-dropdown menu-smartphone">
                    <a class="item-link dropdown-toggle" href="#">Smartphone</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-smartphones"><a href="#">Smartphones</a></li>
                      <li class="menu-mobile-phones"><a href="#">Mobile Phones</a></li>
                      <li class="menu-smart-watches-accessories"><a href="#">Smart Watches &amp; Accessories</a></li>
                      <li class="menu-mobile-accessories"><a href="#">Mobile Accessories</a></li>
                      <li class="menu-cases-covers"><a href="#">Cases &amp; Covers</a></li>
                      <li class="menu-power-banks"><a href="#">Power Banks</a></li>
                      <li class="menu-memory-cards"><a href="#">Memory Cards</a></li>
                    </ul>
                  </li>

                  <li class="res-dropdown menu-tablet">
                    <a class="item-link dropdown-toggle" href="#">Tablet</a>
                    <span class="show-dropdown"></span>

                    <ul class="dropdown-resmenu">
                      <li class="menu-tablets"><a href="#">Tablets</a></li>
                      <li class="menu-tablet-accessories"><a href="#">Tablet Accessories</a></li>
                      <li class="menu-cases-covers"><a href="#">Cases &amp; Covers</a></li>
                      <li class="menu-power-banks"><a href="#">Power Banks</a></li>
                      <li class="menu-memory-cards"><a href="#">Memory Cards</a></li>
                      <li class="menu-headphonesheadsets"><a href="#">Headphones/Headsets</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->

              <li class="menu-home-appliances">
                <a class="item-link" href="simple_product.html">Bass Guitarist</a>
              </li>

              <li class="menu-home-furniture">
                <a class="item-link" href="simple_product.html">Lead Guitarist</a>
              </li>

              <li class="menu-household-goods">
                <a class="item-link" href="simple_product.html">Saxophonist</a>
              </li>

              <li class="menu-television">
                <a class="item-link" href="simple_product.html">Trumpeter</a>
              </li>

              <li class="menu-accessories-for-tablet">
                <a class="item-link" href="simple_product.html">Sound Engineer</a>
              </li>

              <li class="menu-laptops-accessories">
                <a class="item-link" href="simple_product.html">Lighting</a>
              </li>

              <!-- <li class="menu-blender">
                <a class="item-link" href="simple_product.html">Blender</a>
              </li>

              <li class="menu-vacuum-cleaner">
                <a class="item-link" href="simple_product.html">Vacuum Cleaner</a>
              </li> -->
            </ul>
          </div>
        </div>

        <ul id="menu-vertical-menu-1" class="nav vertical-megamenu etrostore-mega etrostore-menures">
          <li class="menu-computers-laptops etrostore-menu-custom level1">
            <a href="javascript:void(0)" (click)="goOut()" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#7ac143" style="background: rgb(122, 193, 67); width: 4px;"></span>

                <span class="menu-title">Drummer</span>
              </span>
            </a>
          </li>

          <!-- <li class="fix-menu dropdown menu-smartphones-tablet etrostore-mega-menu level1">
            <a href="simple_product.html" class="item-link dropdown-toggle">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#efc73a" style="background: rgb(239, 199, 58); width: 4px;"></span>

                <span class="menu-title">Smartphones &amp; Tablet</span>
              </span>
            </a>

            <ul class="dropdown-menu nav-level1 column-3">
              <li class="dropdown-submenu column-3 menu-electronics">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-title">Electronics</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-laptop-desktop-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Laptop &amp; Desktop Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-storage-external-drives">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Storage &amp; External Drives</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-networking-wireless">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Networking &amp; Wireless</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-motherboards-cpus-psus">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Motherboards, CPUs &amp; PSUs</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-webcams">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Webcams</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu column-3 menu-smartphone">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-title">Smartphone</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-mobile-phones">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Mobile Phones</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-smart-watches-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Smart Watches &amp; Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-mobile-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Mobile Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-cases-covers">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Cases &amp; Covers</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-power-banks">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Power Banks</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu column-3 menu-tablets">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-title">Tablets</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-tablet-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Tablet Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-cases-covers">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Cases &amp; Covers</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-power-banks">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Power Banks</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-memory-cards">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Memory Cards</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu column-3 menu-computer">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-title">Computer</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-macbooks-imacs">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Macbooks &amp; iMacs</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-computers-desktops">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Computers &amp; Desktops</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-printers-scanners-faxs">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Printers, Scanners, &amp; Faxs</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-laptop-desktop-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Laptop &amp; Desktop Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-storage-external-drives">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Storage &amp; External Drives</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="fix-position dropdown-submenu column-3 menu-image">
                <ul class="dropdown-sub nav-level2">
                  <li class="menu-image-1 etrostore-menu-img">
                    <a href="#">
                      <span class="">
                        <span class="menu-img">
                          <img src="images/1903/menu-bn7.jpg" alt="Menu Image"></span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-image-2 etrostore-menu-img">
                    <a href="#">
                      <span class="">
                        <span class="menu-img">
                          <img src="images/1903/menu-bn8.jpg" alt="Menu Image"></span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-image-3 etrostore-menu-img">
                    <a href="#">
                      <span class="">
                        <span class="menu-img">
                          <img src="images/1903/menu-bn9.jpg" alt="Menu Image"></span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li> -->

          <li class="menu-cameras-camcorders etrostore-menu-custom level1">
            <a href="javascript:void(0)" routerLink="/keyboardist" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#fe9901" style="background: rgb(254, 153, 1); width: 4px;"></span>

                <span class="menu-title">Keyboardist</span>
              </span>
            </a>
          </li>

          <!-- <li class="dropdown menu-electronic-component etrostore-mega-menu level1">
            <a href="simple_product.html" class="item-link dropdown-toggle">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#f03442" style="background: rgb(240, 52, 66); width: 4px;"></span>

                <span class="menu-title">Electronic Component</span>
              </span>
            </a>

            <ul class="dropdown-menu nav-level1 column-3">
              <li class="dropdown-submenu column-3 menu-electronics etrostore-menu-img">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-img">
                      <img src="images/1903/menu-bn7.jpg" alt="Menu Image">
                    </span>

                    <span class="menu-title">Electronics</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-leds">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Leds</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-laptop-desktop-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Laptop &amp; Desktop Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-storage-external-drives">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Storage &amp; External Drives</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-networking-wireless">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Networking &amp; Wireless</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-motherboards-cpus-psus">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Motherboards, CPUs &amp; PSUs</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-webcams">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Webcams</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-gaming-mice">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Gaming Mice</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu column-3 menu-smartphone etrostore-menu-img">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-img">
                      <img src="images/1903/menu-bn8.jpg" alt="Menu Image">
                    </span>

                    <span class="menu-title">Smartphone</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-smartphones">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Smartphones</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-mobile-phones">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Mobile Phones</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-smart-watches-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Smart Watches &amp; Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-mobile-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Mobile Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-cases-covers">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Cases &amp; Covers</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-power-banks">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Power Banks</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-memory-cards">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Memory Cards</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu column-3 menu-tablet etrostore-menu-img">
                <a href="#">
                  <span class="have-title">
                    <span class="menu-img">
                      <img src="images/1903/menu-bn9.jpg" alt="Menu Image">
                    </span>

                    <span class="menu-title">Tablet</span>
                  </span>
                </a>

                <ul class="dropdown-sub nav-level2">
                  <li class="menu-tablets">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Tablets</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-tablet-accessories">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Tablet Accessories</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-cases-covers">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Cases &amp; Covers</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-power-banks">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Power Banks</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-memory-cards">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Memory Cards</span>
                      </span>
                    </a>
                  </li>

                  <li class="menu-headphonesheadsets">
                    <a href="#">
                      <span class="have-title">
                        <span class="menu-title">Headphones/Headsets</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li> -->

          <li class="menu-home-appliances etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#f034ca" style="background: rgb(240, 52, 202); width: 4px;"></span>

                <span class="menu-title">Bass Guitarist</span>
              </span>
            </a>
          </li>

          <li class="menu-home-furniture etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#7745bc" style="background: rgb(119, 69, 188); width: 4px;"></span>

                <span class="menu-title">Lead Guitarist</span>
              </span>
            </a>
          </li>

          <li class="menu-household-goods etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#42b8d1" style="background: rgb(66, 184, 209); width: 4px;"></span>

                <span class="menu-title">Saxophonist</span>
              </span>
            </a>
          </li>

          <li class="menu-television etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#3f5eca" style="background: rgb(63, 94, 202); width: 4px;"></span>

                <span class="menu-title">Trumpeter</span>
              </span>
            </a>
          </li>

          <li class="menu-accessories-for-tablet etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#13528c" style="background: rgb(19, 82, 140); width: 4px;"></span>

                <span class="menu-title">Sound Engineer</span>
              </span>
            </a>
          </li>

          <li class="menu-laptops-accessories etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#2f2e2e" style="background: rgb(47, 46, 46); width: 4px;"></span>

                <span class="menu-title">Lightning</span>
              </span>
            </a>
          </li>

          <!-- <li class="menu-blender etrostore-menu-custom level1">
            <a href="simple_product.html" class="item-link">
              <span class="have-title" style="color: rgb(34, 34, 34);">
                <span class="menu-color" data-color="#e93434" style="background: rgb(233, 52, 52); width: 4px;"></span>

                <span class="menu-title">Blender</span>
              </span>
            </a>
          </li> -->

          <!-- <li class="menu-vacuum-cleaner etrostore-menu-custom level1" style="display: none;">
            <a href="simple_product.html" class="item-link">
              <span class="have-title">
                <span class="menu-color" data-color="#f034ca" style="background: rgb(240, 52, 202);"></span>

                <span class="menu-title">Vacuum Cleaner</span>
              </span>
            </a>
          </li> -->
          <!-- <li class="showMore"><a class="open-more-cat">All Categories</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
